EXPO_PUBLIC_GEOAPIFY_KEY=xxxxxxxx
EXPO_PUBLIC_API_BASE_URL=https://xxxxxxxx.execute-api.ap-south-1.amazonaws.com
EXPO_PUBLIC_AWS_REGION=ap-south-1
EXPO_PUBLIC_COGNITO_APP_CLIENT_ID=xxxxxxxxx
EXPO_PUBLIC_COGNITO_USER_POOL_ID=ap-south-1_xxxxxxxxx
EXPO_PUBLIC_COGNITO_IDENTITY_POOL_ID=ap-south-1:xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
